<div class="taxon">
  <div class="container">

    <nav id="breadcrumbs" class="col-12 mt-1 mt-sm-3 mt-lg-4" aria-label="breadcrumb"><ol class="breadcrumb" itemscope="itemscope" itemtype="https://schema.org/BreadcrumbList"><li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement" class="breadcrumb-item"><a itemprop="url" href="/"><span itemprop="name">Inicio</span><meta itemprop="position" content="0"></a><span itemprop="item" itemscope="itemscope" itemtype="https://schema.org/Thing" itemid="/"></span></li><li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement" class="breadcrumb-item"><a itemprop="url" href="/quienes-somos"><span itemprop="name">Quienes somos</span><meta itemprop="position" content="1"></a><span itemprop="item" itemscope="itemscope" itemtype="https://schema.org/Thing" itemid="/quienes-somos"></span></li></ol></nav>
    <div class="py-md-3 text-uppercase taxon-title">
      Quienes somos
    </div>
    En <strong>LaPile</strong> trabajamos muchas personas, sobre todo en el área de construcción, pero acá nos presentamos los cuatro responsables de que todo
    salga bien, los mismos que atendemos a cada uno de nuestros clientes. Cuatro socios con estudios y experiencia en distintas áreas,
    formando una empresa distintiva en el sector. Abajo podés leer cómo cada uno de nosotros, de forma complementaria, trabaja para dar un servicio de primer nivel.
  </div>

  <!-- Team-->
  <section id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="<%= asset_path('team/1.jpg') %>" alt="" />
            <h4>Marcos Filardi</h4>
            <p class="text-muted">Operaciones</p>
            <div>
              <p class="large text-muted">
                Líder y ejecutor de todo el proceso para la construcción de tu pileta, manejando grupos humanos multidiciplinarios
                que conforman LaPile. Marcos garantiza que todo el proyecto se ejecute como fue planeado, asegurando tu satisfacción
                al finalizar la obra. Cuando LaPile termina un proyecto, nuestros clientes buscan a Marcos porque sienten la
                necesidad de agradecerle; ese agradecimiento sincero que reconforta.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="<%= asset_path('team/2.jpg') %>" alt="" />
            <h4>Maximiliano Correa</h4>
            <p class="text-muted">Ingeniería</p>
            <div>
              <p class="large text-muted">
                El cerebro que calcula todas las fórmulas, otorgando verdadera garantía constructiva con su firma de
                ingeniero civil, pero aún más importante es que Maxi asegura calidad en todas las piletas que construimos,
                porque ningún factor queda librado a la improvisación. En LaPile todos trabajamos tranquilos porque sabemos
                que Maxi no permitirá arrancar ningún proyecto que no esté bien pensado desde el inicio.
                Esa misma tranquilidad vas a sentir vos también.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="<%= asset_path('team/3.jpg') %>" alt="" />
            <h4>Javier Filardi</h4>
            <p class="text-muted">Asesoramiento al cliente y diseño</p>
            <div>
              <p class="large text-muted">
                Es quien escucha y entiende tus necesidades, te guía y aconseja en distintas opciones según tus preferencias.
                Trabaja junto al equipo de arquitectura y diseño para darte una solución estética personalizada a la situación
                especifica de tu proyecto. Javier te aclara esas dudas y temores que podés tener antes de iniciar el proyecto.
                Es más, ya mismo podés mandarle un whatsapp (351 xxxx) y verás cómo rápidamente todo empieza a "tomar forma".
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="<%= asset_path('team/1.jpg') %>" alt="" />
            <h4>Matias Renta</h4>
            <p class="text-muted">Tecnología y procesos</p>
            <div>
              <p class="large text-muted">
                LaPile es una empresa moderna y eficiente que usa muchas y variadas tecnologías. Mati "orquesta"
                toda nuestra tecnología para que trabajemos coordinados y colaborativamente. Le da inteligencia
                a los equipos de trabajo sistematizando soluciones y minimizando los errores. Es quien marca el
                camino con visión empresarial, para que LaPile esté en el nivel competitivo más alto del sector
                y entregue el mayor valor en cada proyecto.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">
          Ahora que conocés las personas con quien tratarías al hacer tu proyecto con LaPile, <strong><%= link_to 'contactate', '/contacto' %></strong> con nosotros y aclará todas tus dudas.
            Y si aún no viste las piletas que podemos construir en tu casa, hotel o complejo, miralas <strong><%= link_to 'acá', '/t/estilos-de-pileta' %></strong>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
