<% is_product_available_in_currency = product_available_in_currency? %>
<% default_variant = default_variant(@variants, @product) %>



<div id="inside-product-cart-form" data-hook="inside_product_cart_form">
      <div id="product-price" class="mb-2 text-center text-md-left add-to-cart-form-price" data-hook="product_price">
        <span class="price selling" content="<%= @product_price.to_d %>">
          <%= display_price(default_variant) %>
        </span>
        <span content="<%= current_currency %>"></span>
      </div>





  <% if is_product_available_in_currency && @product.can_supply? %>

      <hr>
      <div>
        <div class="mb-5 mt-4">
        </div>

        <%= render partial: 'description' %>
        <%= render partial: 'properties' %>
      </div>
  <% end %>
</div>
